{% extends 'base.html' %}
{% load static %}

{% block title %}Сделать снимок{% endblock %}

{% block content %}
    <div class="block-right">
        {% if filter %}
            {% for image in filter %}
                <figure>
                <img src="{{ image.image.url }}" alt="Image" width="120" height="120">
                <figcaption>{{ image.name }}</figcaption>
                </figure>
            {% endfor %}
        {% endif %}
    </div>
<div class="contentarea">
  <div class="camera">
    <video id="video">Video stream not available.</video>
    <button id="startbutton">Сделать фото</button>
  </div>
  <canvas id="canvas">
  </canvas>
    	<div class="output">
		<img id="photo" alt="The screen capture will appear in this box.">
	</div>


	<div id="pick-image">
		<form runat="server">
			<input type='file' accept="image/*" id="imgInp" />
		</form>
	</div>


	<div class="rex">
		<button id="clearbutton" class="myButton">Очистить</button>

        <button id="merge" class="myButton">Слияние</button>

		<button id="post" class="myButton">Опубликовать</button>
	</div>
<script src="{% static 'js/video.js' %}"></script>
</div>
{% endblock %}
